@charset "utf-8";

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: url(fondogam.jpg);
	background-size: cover;
	background-attachment: fixed;
	}
*{
	box-sizing: border-box;
}
.contenedor{
	width: 100%;
	padding: 15px;
}
.formulario{
	background: #fff;
	margin-top: 80px;
	padding: 3px;
}
h1{
	text-align: center;
	color: #540D67;
	font-size: 40px;
	}
input[type="text"],
input[type="password"]{
	font-size: 20px;
	width: 82%;
	padding: 10px;
	border: none;
}
.input-contenedor{
	margin-bottom: 15px;
	border: 1px
}
.icon{
	min-width: 50px;
	text-align: center;
	color: #999;
}
.button{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 50px;
}
.button:hover{
	background: #D100DD;
}
.button1{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 84px;
}
.button1:hover{
	background: #D100DD;
}
.button2{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 54px;
}
.button2:hover{
	background: #D100DD;
}
.button3{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 91px;
}
.button3:hover{
	background: #D100DD;
}
.button4{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 99px;
}
.button4:hover{
	background: #D100DD;
}
.button5{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 102px;
}
.button5:hover{
	background: #D100DD;
}
.button6{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 67px;
}
.button6:hover{
	background: #D100DD;
}
.button7{
	text-decoration: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #4E046E;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 67px;
}
.button7:hover{
	background: #D100DD;
}
p{
	text-align: center;
}
@media(min-width:768px)
{
	.formulario{
		margin: auto;
		width: 500px;
		margin-top: 150px;
		border-radius: 2%;
	}	
}
